@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('assets/fonts/Muli-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Nexa';
  src: url('assets/fonts/Nexa_Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: url('assets/fonts/Nexa_Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SamsungSharpSans';
  src: url('assets/fonts/SamsungSharpSans_Bold.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SamsungSharpSans';
  src: url('assets/fonts/SamsungSharpSans_Medium.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SamsungSharpSans';
  src: url('assets/fonts/SamsungSharpSans_Regular.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}