<div class="home container parent">
  <div class="bg"></div>
  <div class="content">
    <div class="wrapper">
      <div class="title">
        <h2 class="t-75 t-b">
          <span>we create</span>
          <span>persuasive</span>
          <span>presentations.</span>
        </h2>
        <div class="container-load">
          <svg>
            <circle class="path" cx="20" cy="20" r="15" fill="none" stroke-width="3" stroke-miterlimit="10" stroke="#ff0032"></circle>
          </svg>
        </div>

        <ul class="flex group">
          <li class="tr-o"><a href="#"><img src="../../assets/images/Group%2042.svg" alt="Google"></a></li>
          <li class="tr-o"><a href="#"><img src="../../assets/images/Group%2057.svg" alt="LVMH"></a></li>
          <li class="tr-o"><a href="#"><img src="../../assets/images/Group%2051.svg" alt="Samsung"></a></li>
          <li class="tr-o"><a href="#"><img src="../../assets/images/Group%2070.svg" alt="Publicis"></a></li>
          <li class="tr-o"><a href="#"><img src="../../assets/images/Group.svg" alt="En voir plus"></a></li>
        </ul>
        <a class="start t-12 nexa t-b cp" href="#">START<img src="../../assets/images/Fill1.svg" alt="voir plus"></a>
      </div>
      <div class="bottom flex">
        <h3 class="t-13 t-g">L'agence Powerpoint au  service des agences et des plus grandes entreprises du monde </h3>
        <span class="line"></span>
        <h4><span class="t-18 t-b">USE CASE</span><span class="t-13 t-g">nos réalisations</span></h4>
        <h4><span class="t-18 t-b">AGENCE</span><span class="t-13 t-g">100% powerpoint</span></h4>
        <h4><span class="t-18 t-b">OFFRES</span><span class="t-13 t-g">pour convaincre</span></h4>
      </div>
      <div class="social">
        <a href="#" class="t-10 t-b t-dg cp">Linkedin</a>
        <a href="#" class="t-10 t-b t-dg cp">Twitter</a>
        <a href="#" class="t-10 t-b t-dg cp">Article</a>
      </div>
    </div>
  </div>
  <div class="img-pub"></div>
</div>